$colorButtonPrimary: #F91155;
$colorButtonHover: #D8003F;
$colorButtonTextHover: #ffffff;
$colorButtonTextPressed: #F9637C;

$colorTextPrimary: #FFFFFF;
$colorTextHeading: #000000;

$textSizeHeading1: 36px;
$textSizeHeading3: 24px;
$textSizeHeading4: 19px;
$textSizeDescription: 16px;
$textSizeButton: 16px;