$colorButtonPrimary: #F91155;
$colorButtonHover: #D8003F;

$colorButtonTextHover: #ffffff;
$colorButtonTextActive: #F9637C;

$colorTextPrimary: #FFFFFF;
$colorTextHeading: #000000;
$colorTextPrice: #FF4B77;
$colorTextLink: #FF4B77;
$colorTextLinkActive: #FF97B0;

$colorTextValuePrice: #999999;

$textSizeHeading1: 36px;
$textSizeHeading3: 24px;
$textSizeHeading4: 19px;
$textSizeDescription: 16px;
$textSizeButton: 16px;